.bigImg {
  width: 100%;
  box-shadow: 0px 0px 10px #333;
  border-bottom: 3px solid #186567;
}

#title {
  background: #58A4A1;
  border-bottom: 3px solid #186567;
  margin-top: -33px;
  cursor: pointer;
  max-height: 60px;
  transition: max-height 1.5s ease-out;
  overflow: hidden;
}

#title:hover {
  max-height: 500px;
  transition: max-height 1.5s ease-in;
}

.icarr {
  transition: transform .4s ease-in-out;
}

.itmlink {
  color: #186567;
  margin-top: 5px;
  font-size: 18px;
}

.itmlink:hover {
  text-decoration: none;
  color: #212529;
}

#tech {
  font-size: 20px;
  color: #222;
}

#title:hover .icarr {
  transform: rotate(90deg);
}

#text {
  font-size: 18px;
  color: #76B040;
  text-shadow: 0.5px 0.5px 2px black;
}

#title ul {
  font-size: 16px;
}

.pItem {
  overflow: hidden;
  height: 200px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #333;
}

.ttl {
  position: absolute;
  width: 100%;
  top: 25%;
  font-size: 35px !important;
  background: #18656788 url('../../Images/bg.png');
}

.bdr {
  width: 100%;
  position: absolute;
  height: 100%;
  color: #c5c6c6;
  text-shadow: 3px 3px 2px black;
  font-family: lato;
  background: rgba(18, 18, 18, 0.55);
  transition: 1.3s;
}

.bdr:hover {
  opacity: 0;
  padding-top: 220px;
}

.moreDet {
  margin-left: 15px;
}

@media (max-width: 480px) {
  .pItem {
    height: 150px;
  }

  .ttl {
    font-size: 25px !important;
  }
}
