#leaf {
  width: 27px;
  position: absolute;
  top: 4px;
  transform: rotate(-22deg);
  margin-left: 4px;
}

@media (max-width: 525px) {
  #leaf {
    width: 18px;
    top: 1px;
    margin-left: 2px;
  }
}

.plant {
  width: 24px;
  position: absolute;
  animation-duration: 10s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 5s;
  z-index: 0;
  display: none;
}

@keyframes slidein {
  from {
    left: 80%;
    transform: rotatey(0deg);
  }

  to {
    left: 0%;
    transform: rotatey(360deg);
  }
}