#Sabt {
  background:
    linear-gradient(135deg, #38968D 21px, #186567 22px, #186567 24px, transparent 24px, transparent 67px, #186567 67px, #186567 69px, transparent 69px),
    linear-gradient(225deg, #38968D 21px, #186567 22px, #186567 24px, transparent 24px, transparent 67px, #186567 67px, #186567 69px, transparent 69px)0 64px;
  background-color: #38968D;
  background-size: 64px 128px;
  box-shadow: 0px 0px 6px #222;
  padding-bottom: 0 !important;
}

#Sabt h4 {
  text-shadow: 0.5px 0.5px 0.8px #010101;
  color: #76B040;
}

#Sabt h3 {
  background:
    linear-gradient(135deg, #186567 21px, #38968D 22px, #38968D 24px, transparent 24px, transparent 67px, #38968D 67px, #38968D 69px, transparent 69px),
    linear-gradient(225deg, #186567 21px, #38968D 22px, #38968D 24px, transparent 24px, transparent 67px, #38968D 67px, #38968D 69px, transparent 69px)0 64px;
  background-color: #186567;
  background-size: 64px 128px;
  color: #BCBCC2 !important;
  text-shadow: 2px 2px 2px #1A1A1A;
  font-weight: bolder;
  font-size: 40px !important;
  box-shadow: 0px 0px 3px #333;
}

#Sabt ul {
  font-size: 20px;
  color: #363635;
  text-shadow: 0.7px 0.7px 0.3px #32323255;
}

#Sabt p {
  color: #BCBCC2 !important;
  font-size: 20px;
  text-shadow: 0px 0px 2px black;
}

#Simg {
  background:
    linear-gradient(135deg, #186567 21px, #38968D 22px, #38968D 24px, transparent 24px, transparent 67px, #38968D 67px, #38968D 69px, transparent 69px),
    linear-gradient(225deg, #186567 21px, #38968D 22px, #38968D 24px, transparent 24px, transparent 67px, #38968D 67px, #38968D 69px, transparent 69px)0 64px;
  background-color: #186567;
  background-size: 64px 128px;
  color: #BCBCC2 !important;
  box-shadow: 0px 0px 6px #222;
}

#Simg a {
  color: #A9A9A9 !important;
}

.icons {
  font-size: 40px;
  cursor: pointer;
}

.em:hover {
  color: gray !important;
}

.yt:hover {
  color: #9C1226 !important;
}

.tt:hover {
  color: #3B6B80 !important;
}

.li:hover {
  color: deepskyblue !important;
  /* text-shadow: 0px 0px 2px black !important; */
}

.gh:hover {
  color: #010101 !important;
}

.ig:hover {
  color: #01432F !important;
}

.dsbl, .dsbl:hover {
  color: #A9A9A999 !important;
  cursor: default;
}