#Sabt {
  background: #6B440E url('../../Images/bg.png');
  color: #6B7B0E;
  box-shadow: 0px 0px 6px #222;
  padding-bottom: 0 !important;
}

#Sabt h4 {
  text-shadow: 0px 0px 2px black;
  color: #3B6B80;
}

#Sabt h3 {
  background: #474747 url('../../Images/bg.png');
  color: #3B6B80;
  text-shadow: 2px 2px 2px #1A1A1A;
  font-weight: bolder;
  font-size: 40px !important;
  box-shadow: 0px 0px 3px #333;
}

#Sabt ul {
  color: #888;
  font-size: 20px;
  text-shadow: 0px 0px 2px black;
}

#Sabt p {
  color: #888;
  font-size: 20px;
  text-shadow: 0px 0px 2px black;
}

#Simg {
  background: #474747 url('../../Images/bg.png');
  color: grey;
  box-shadow: 0px 0px 6px #222;
}

#Simg a {
  color: grey;
}

.icons {
  font-size: 40px;
  cursor: pointer;
}

.em:hover {
  color: darkgrey !important;
}

.yt:hover {
  color: #9C1226 !important;
}

.tt:hover {
  color: #3B6B80 !important;
}

.li:hover {
  color: #086292 !important;
}

.gh:hover {
  color: #010101 !important;
}

.ig:hover {
  color: #FB3958 !important;
}

.dsbl, .dsbl:hover {
  color: #5f5f5f !important;
  cursor: default;
}