#Scont {
  background:
    linear-gradient(135deg, #38968D 21px, #186567 22px, #186567 24px, transparent 24px, transparent 67px, #186567 67px, #186567 69px, transparent 69px),
    linear-gradient(225deg, #38968D 21px, #186567 22px, #186567 24px, transparent 24px, transparent 67px, #186567 67px, #186567 69px, transparent 69px)0 64px;
  background-color: #38968D;
  background-size: 64px 128px;
  color: #6B7B0E;
  box-shadow: 0px 0px 6px #222;
  padding-bottom: 0 !important;
}

#Scont h4 {
  text-shadow: 0px 0px 2px black;
  color: #3B6B80;
}

#Scont h3 {
  background:
    linear-gradient(135deg, #186567 21px, #38968D 22px, #38968D 24px, transparent 24px, transparent 67px, #38968D 67px, #38968D 69px, transparent 69px),
    linear-gradient(225deg, #186567 21px, #38968D 22px, #38968D 24px, transparent 24px, transparent 67px, #38968D 67px, #38968D 69px, transparent 69px)0 64px;
  background-color: #186567;
  background-size: 64px 128px;
  color: #BCBCC2 !important;
  text-shadow: 2px 2px 2px #1A1A1A;
  font-weight: bolder;
  font-size: 40px !important;
  box-shadow: 0px 0px 3px #333;
}

#Scont a {color: #363635;
  text-shadow: 0.7px 0.7px 0.3px #32323255;
}

#Scont a:hover {
  text-decoration: none;
}

#Scont ul {
  color: #363635;
  text-shadow: 0.7px 0.7px 0.3px #32323255;
  font-size: 28px;
  list-style-type: none;
  padding-left: 0;
}

#Scont ul li {
  text-align: left;
  font-family: arial;
  cursor: pointer;
}

#Scont p {
  color: #888;
  text-shadow: 0px 0px 2px black;
  font-size: 20px;
}

#Scont .icons {
  font-size: 40px;
  text-align: left;
  vertical-align: bottom;
}

#Scont .em {
  font-size: 20px;
}

@media (max-width: 992px) {
  #Scont h3 {
    font-size: 30px !important;
  }

  #Scont ul {
    font-size: 20px;
  }

  #Scont .em {
    font-size: 16px;
  }

  #Scont .icons {
    margin-right: 1rem !important;
  }
}

@media (max-width: 366px) {
  #Scont ul {
    font-size: 22px;
  }

  #Scont .icons {
    margin-right: 0.6rem !important;
  }

  #Scont .em {
    font-size: 16px;
  }
}
